table.bbs_list {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table.bbs_list tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

table.bbs_list th,
table.bbs_list td {
  padding: 8px;
}

table.bbs_list th {
  color: blue;
}

div.bbs_write {
  width: 90%;
  margin: 10px auto;
}

div.bbs_write input {
  display: inline-block;
  width: 80%;
  padding: 8px;
  margin: 5px auto;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
}

div.bbs_write input:hover {
  background-color: #ddd;
}

div.bbs_write input:focus {
  background-color: #eee;
}

div.bbs_write button {
  width: 80%;
  background-color: blue;
  color: white;
  margin: 5px auto;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
}

button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

div.bbs_detail {
  width: 90vw;
  margin: 10px auto;
}

div.bbs_detail label,
div.bbs_detail span {
  display: inline-block;
  margin: 0;
  padding: 8px;
}

div.bbs_detail label {
  width: 30%;
  background-color: #ddd;
  text-align: right;
  color: blue;
  font-weight: bold;
}

div.bbs_detail span {
  width: 60%;
  background-color: #eee;
  text-align: left;
}

div.bbs_btn_box {
  width: 90%;
  text-align: right;
  padding: 8px;
  margin: 5px auto;
}

div.bbs_btn_box button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

div.bbs_btn_box button:nth-of-type(1) {
  background-color: blue;
}
div.bbs_btn_box button:nth-of-type(2) {
  background-color: green;
}
div.bbs_btn_box button:nth-of-type(3) {
  background-color: red;
}
