button.myButton {
  font-size: 18px;
  font-weight: 700;
  width: 60%;
  height: 50px;
  line-height: 50px;
  margin: 10px auto;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: blue;
}
