.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.todo_input_box {
  width: 80vw;
  margin: 10px auto;
  border: 1px solid #ddd;
}

div.todo_input_box input {
  width: 60%;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

div.todo_input_box button {
  width: 30%;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

table.todo_list {
  width: 80vw;
  margin: 10px auto;
  border: 1px solid #ddd;
}
